* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
  color: white;
}

.form-section {
  background: linear-gradient(145deg, #003547, #005f73);
  padding: 20px;
  width: 300px;
  flex-shrink: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
}

.title-principal {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

input, textarea, select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 15px;
}

input[type="date"] {
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: linear-gradient(to right, #00c9ff, #92fe9d);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.board {
  margin-left: 320px;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  height: 100vh;
}

.column {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 10px;
  min-width: 280px;
  height: fit-content;
  max-height: 90vh;
  overflow-y: auto;
}

.column-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #49b7cd;
}

.tarea {
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.tarea:hover {
  background: rgba(255, 255, 255, 0.2);
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}
